.form-group {
    padding: 0px 30px 0px 30px; 
}

.stepslabel {
    font-family: sans-serif;
    text-decoration: underline;
    font-size: larger;
    padding: 10px 10px 10px 10px;
}

.form-field {
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 5px;
    width: 30%;
}

.tablecolheader {
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    text-decoration: underline;
}

.upload-button {
    
}

.drop-zone {
    display: block;
    height: 100px;
    line-height: 100px;  /* line-height == height to keep text centered */
    padding: 20px 10px 20px 10px; 
    margin: 10px 10px 10px 10px; 
    border-top: #555 1px dotted;
    border-right: #555 1px dotted;
    border-bottom: #555 1px dotted;
    border-left: #555 1px dotted; 
    background-color: beige;
    text-align: center;
}

.upload-queue {
    display: table;
    table-layout: auto;
    /* TODO - need to clean up the display of the table */
    padding: 20px 10px 20px 10px;
    margin: 10px 10px 10px 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: honeydew;
    padding: 20px 10px 0px 10px;

}