<form class="form-group" [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()" enctype="multipart/form-data">
        <mat-label class="stepslabel">Step 1: Report Info</mat-label>
        <br>
        <mat-form-field class="form-field">
            <input matInput formControlName="reportfilename" type="text" placeholder="Report Name" value="" required>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <mat-label>Select Document Type</mat-label>
            <mat-select formControlName="sourceType" required>
                <mat-option value="CloudHarmony">Cloud Harmony Result Format</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-label class="stepslabel">Step 2: Select Files & Upload</mat-label>
        <br><br>
        <input name="fileupload" type="file" ng2FileSelect accept=".xlsx" [uploader]="uploader" multiple/>
        <br>
        <div>
            <div ng2FileDrop [uploader]="uploader" class="drop-zone">
                Drag and drop files to upload
            </div>
        </div>
        <table class="upload-queue">
            <thead>
                <tr>
                    <th width="98%">
                        <span class="tablecolheader">File Name</span>
                    </th>
                    <th width="10%">
                        <span class="tablecolheader">Remove</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <th width="98%">
                        {{item._file.name}}
                    </th>
                    <th class="text-center" width="10%">
                        <mat-icon (click)="item.remove()">delete</mat-icon>
                    </th>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="uploadbtn" mat-raised-button color="accent" [disabled]="!uploadForm.valid" type="submit">Upload Data</button>
        <br><br>
        <mat-label class="stepslabel">Step 3: Download Report</mat-label>
        <br>
        <div id="reportlink" ngApp="" ngController="uploadSubmit">
            Your Report:  <a href="{{reportlink}}">{{reporttitle}}</a>
        </div>
</form>
<div class="footer">

</div>

